In [22]:
import pandas as pd
import numpy as np

In [25]:
trace = pd.read_csv("/media/ps101/TEPCON/Hamiltonian-Neural-Network/traces/trace_01",
                    sep=';',
                    header=None)

# drop the last column, because every line ends with a separator
trace = trace.iloc[:, :-1]

# set header
trace.columns = ["x1", "y1", "z1", "px1", "py1", "pz1", "x2", "y2", "z2", "px2", "py2", "pz2"]

In [26]:
trace.head()

,x1,y1,z1,px1,py1,pz1,x2,y2,z2,px2,py2,pz2
0,15.000000,15.000000,0.0,1.000000,0.000000,0.0,-15.000000,-15.000000,0.0,-1.000000,0.000000,0.0
1,15.098333,14.998333,0.0,0.983333,-0.016667,0.0,-15.098333,-14.998333,0.0,-0.983333,0.016667,0.0
2,15.195000,14.995010,0.0,0.966665,-0.033224,0.0,-15.195000,-14.995010,0.0,-0.966665,0.033224,0.0
3,15.289999,14.990043,0.0,0.949994,-0.049676,0.0,-15.289999,-14.990043,0.0,-0.949994,0.049676,0.0
4,15.383331,14.983440,0.0,0.933320,-0.066023,0.0,-15.383331,-14.983440,0.0,-0.933320,0.066023,0.0